$separator-txt-color-title: var(--hctc-theme-color-3);
$separator-txt-color-link: var(--hctc-theme-color-2);
$separator-min-height: 200px;
$separator-text-margin-left: var(--hctc-spacing-xl);
.c-separator {
	width: 100%;
	@include flexLayout(space-between);
	&--reversed {
		flex-direction: row-reverse;
		.c-separator__content {
			@include max-width-restriction(padding-right);
			padding-left: unset;
		}
		.c-separator__img {
			clip-path: polygon(0 0, 75% 0%, 100% 100%, 0% 100%);
			&::after {
				right: 0;
				clip-path: polygon(72% 0%, 75% 0, 100% 100%, 97% 100%);
			}
		}
	}
	&__content {
		padding: 0 var(--hctc-spacing-md);
		@include max-width-restriction(padding-left);
		position: relative;
		&-link {
			margin-left: $separator-text-margin-left;
			text-transform: lowercase;
			font-weight: 900;
			color: $separator-txt-color-link;

			@include underline(
				double,
				$separator-txt-color-link,
				$separator-txt-color-title
			);
			margin-bottom: var(--hctc-spacing-sm);
			@include responsiveFontSize(lg, md);
		}
		&-title {
			font-weight: 900;
			margin: 0;
			margin-left: $separator-text-margin-left;
			color: $separator-txt-color-title;
			@include responsiveFontSize(xxl, lg);
		}
	}
	&__img {
		position: relative;
		@include flexLayout;
		width: 50%;
		@include min-md {
			width: 60%;
		}
		overflow: hidden;
		max-height: $separator-min-height;
		clip-path: polygon(0 0, 100% 0%, 100% 100%, 25% 100%);
		background-color: var(--hctc-theme-color-3);
		> .simpleParallax {
			width: 100%;
			background-color: var(--hctc-theme-color-3);
		}
		&::after {
			left: -2px;
			top: -2px;
			position: absolute;
			content: " ";
			width: 100%;
			height: 101%;
			display: block;
			z-index: 1;
			clip-path: polygon(0 1%, 3% 0, 28% 100%, 25% 100%);
			background-color: var(--hctc-theme-color-3);
		}

		img {
			min-width: 100%;
			height: auto;
		}
	}
}
