$section-assets-min-height: 300px;
$media-max-height: 200px;
@mixin scaleUp($scale: 1.1) {
  transition: var(--hctc-transition-global);
  &:hover,
  &:focus,
  &:active {
    transform: scale($scale);
  }
}
.c-text-with-media {
  padding: var(--hctc-spacing-paragraph);
  &--reverse {
    .c-text-with-media__txt {
      order: 2;
    }
  }
  &--rtl {
    direction: rtl;
    .c-text-with-media__txt {
      direction: ltr;
    }
    .c-text-with-media__img-framed {
      &::after {
        left: -20px;
      }
    }
  }
  &__default {
    align-items: center;
  }
  &__refs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: var(--hctc-spacing-xxl);
    &-wrapper {
      position: relative;
      padding: var(--hctc-spacing-paragraph);
      text-align: center;
      @include min-md {
        text-align: start;
      }
      &::after {
        position: absolute;
        content: '"';
        left: var(--hctc-spacing-sm);
        @include min-md {
          left: 0;
        }
        top: calc(-1 * var(--hctc-spacing-md));
        font-size: var(--hctc-font-xxl);
        color: var(--hctc-theme-color-1);
      }
    }
    &-txt {
      p {
        margin: 0;
        font-weight: 100;
      }
      margin-bottom: var(--hctc-spacing-paragraph);
    }
    &-title {
      margin: 0;
    }
    &-subtitle {
      font-size: var(--hctc-font-sm);
      margin: 0;
    }
  }
  &__media {
    max-height: $media-max-height;
  }
  &__txt {
    @include flexLayout(flex-start, flex-start, column);
    &-paragraph {
      font-weight: 100;
      p {
        margin: 0;
        margin-bottom: var(--hctc-spacing-paragraph);
        font-size: var(--hctc-font-lg);
      }
      strong {
        font-weight: 900;
      }
      &--accent {
        p {
          color: var(--hctc-theme-color-1);
          font-weight: 600;
        }
      }
    }
    &-link {
      color: var(--hctc-theme-color-1);
      font-weight: 600;
      @include underline;
      font-size: var(--hctc-font-lg);
    }
  }
  &__imgs {
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-columns: 1fr;
    @include min-sm {
      grid-template-columns: 1fr 1fr;
    }
    @include min-xl {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    gap: var(--hctc-spacing-xxl);
    &-wrapper {
      overflow: hidden;
      @include flexLayout;
      flex-direction: column;
      justify-content: flex-start;
      &:nth-child(2n + 1) {
        @include min-lg {
          align-items: flex-end;
          text-align: end;
          transform: translateY(calc(-1.5 * var(--hctc-spacing-xxl)));
        }
      }
      &:nth-child(2n) {
        @include min-lg {
          align-items: flex-start;
        }
      }
    }
    $max-img-width: 250px;
    $max-txt-width: 270px;
    &-img {
      max-width: $max-img-width;
    }
    &-title {
      @include underline(
        double,
        var(--hctc-theme-color-2),
        var(--hctc-theme-color-1),
        -2px,
        -7px,
        top
      );
      font-weight: 900;
      margin: 0;
      margin-top: var(--hctc-spacing-md);
      color: var(--hctc-theme-color-1);
      font-size: var(--hctc-font-md);
      max-width: 270px;
    }
    &-txt {
      max-width: $max-txt-width;
      position: relative;
      font-size: var(--hctc-font-sm);
      margin: 0;
      font-weight: 100;
    }
  }
  &__img {
    @include flexLayout;
  }
  &__img-framed {
    $max-height: 200px;
    $max-height-mobile: 100px;
    $mask-height: 300px;
    $mask-height-mobile: 150px;
    $max-width: 700px;
    $max-width-mobile: 500px;
    display: flex;
    justify-content: flex-end;
    @include addSquareDecor(
      color(RED),
      0.4,
      -5%,
      -30%,
      $mask-height-mobile,
      80%
    );
    @include min-lg {
      @include addSquareDecor(color(RED), 0.4, 0, -30%, $mask-height, 80%);
    }
    // img mask
    div {
      max-height: $max-height-mobile;
      max-width: $max-width-mobile;
      @include min-lg {
        max-height: $max-height;
        max-width: $max-width;
      }
      // parallax div
      div {
        display: flex;
        align-items: center;
      }
    }
  }
  &__assets {
    overflow: hidden;
    min-height: $section-assets-min-height;
    @include addTransparentRectangle(0.8, 200px, 300px);
    &-grid {
      display: grid;

      justify-content: center;
      align-items: center;
      gap: var(--hctc-spacing-xl);

      img {
        @include scaleUp(1.01);
      }
    }
  }
  &__decor {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: var(--hctc-zindex-under);
    //
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 0.2;
  }
  &__pillars {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    &-item {
      @include flexLayout(center, center, column);
      @include addSquareDecor(color(RED), 0.6, 50%, 20%, 50px, 125px);
      &:after {
        height: 60px;
        transform: translateX(-50%);
      }
      i {
        font-size: var(--hctc-font-xxl);
      }
      .c-text-with-media__pillars-title {
        font-size: var(--hctc-font-lg);
        max-width: 15ch;
        color: var(--hctc-theme-color-1);
        font-weight: 900;
        margin-top: var(--hctc-spacing-md);
      }
    }
  }
}
