$section-assets-min-height: 300px;
$media-max-height: 200px;
@mixin scaleUp($scale: 1.1) {
  transition: var(--hctc-transition-global);
  &:hover,
  &:focus,
  &:active {
    transform: scale($scale);
  }
}
.c-text-with-media {
  padding: var(--hctc-spacing-paragraph);
  &__refs {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: var(--hctc-spacing-xxl);
    &-wrapper {
      position: relative;
      padding: var(--hctc-spacing-paragraph);
      text-align: center;
      @include min-md {
        text-align: start;
      }
      &::after {
        position: absolute;
        content: '"';
        left: var(--hctc-spacing-sm);
        @include min-md {
          left: 0;
        }
        top: calc(-1 * var(--hctc-spacing-md));
        font-size: var(--hctc-font-xxl);
        color: var(--hctc-theme-color-1);
      }
    }
    &-txt {
      p {
        margin: 0;
        font-weight: 100;
      }
      margin-bottom: var(--hctc-spacing-paragraph);
    }
    &-title {
      margin: 0;
    }
    &-subtitle {
      font-size: var(--hctc-font-sm);
      margin: 0;
    }
  }
  &__media {
    max-height: $media-max-height;
  }
  &__txt {
    @include flexLayout(flex-start, flex-start, column);
    &-paragraph {
      font-weight: 100;
      p {
        margin: 0;
        margin-bottom: var(--hctc-spacing-paragraph);
        font-size: var(--hctc-font-lg);
      }
      &--accent {
        p {
          color: var(--hctc-theme-color-1);
          font-weight: 600;
        }
      }
    }
    &-link {
      color: var(--hctc-theme-color-1);
      font-weight: 600;
      @include underline;
      font-size: var(--hctc-font-lg);
    }
  }
  &__imgs {
    display: grid;
    // grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    grid-template-columns: 1fr;
    @include min-sm {
      grid-template-columns: 1fr 1fr;
    }
    @include min-xl {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    gap: var(--hctc-spacing-xxl);
    &-wrapper {
      overflow: hidden;
      @include flexLayout;
      flex-direction: column;
      justify-content: flex-start;
      &:nth-child(2n + 1) {
        @include min-lg {
          align-items: flex-end;
          transform: translateY(calc(-1.5 * var(--hctc-spacing-xxl)));
        }
      }
      &:nth-child(2n) {
        @include min-lg {
          align-items: flex-start;
        }
      }
    }
    &-img {
      max-width: 250px;
    }
    &-title {
      @include underline(
        double,
        var(--hctc-theme-color-2),
        var(--hctc-theme-color-1),
        -2px,
        -7px,
        top
      );
      font-weight: 900;
      margin: 0;
      margin-top: var(--hctc-spacing-md);
      color: var(--hctc-theme-color-1);
      font-size: var(--hctc-font-md);
    }
    &-txt {
      position: relative;
      font-size: var(--hctc-font-sm);
      margin: 0;
      font-weight: 100;
    }
  }
  &__assets {
    overflow: hidden;
    min-height: $section-assets-min-height;
    @include addTransparentRectangle(0.5, 300px, 50%);
    &-grid {
      display: grid;
      grid-template-columns: 0.3fr 0.6fr;
      grid-template-rows: 1fr 1fr;
      justify-content: center;
      align-items: center;
      gap: var(--hctc-spacing-xl);
      img:first-child {
        overflow: hidden;
        grid-column-start: 1;
        grid-column-end: 3;
        margin-left: calc(3 * var(--hctc-spacing-xxl));
      }
      img {
        @include scaleUp(1.01);
      }
    }
  }
  &__decor {
    width: 100%;
    height: auto;
    position: absolute;
    z-index: var(--hctc-zindex-under);
  }
}
