body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	font-size: 1rem;
	line-height: $font__line-height-body;
}

@import "headings";
@import "copy";

@mixin addIcon(
	$unicode,
	$size: var(--hctc-font-md),
	$top: 0,
	$left: 0,
	$position: relative
) {
	position: relative;
	&::before {
		left: $left;
		top: $top;
		position: $position;
		content: "#{$unicode}";
		margin: 0 var(--hctc-spacing-sm);
		font-family: "Line Awesome Free";
		font-weight: 900;
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		display: inline-block;
		font-style: normal;
		font-variant: normal;
		text-rendering: auto;
		line-height: 1;
		font-size: $size;
	}
}
