//
@mixin toggleMobileNav {
	@include min-md {
		@content;
	}
}
.c-nav {
	// mobile menu styles
	@include flexLayout(center, center, row, wrap);
	@include max-md {
		@include mobileNav;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;
		@include flexLayout;
		flex-direction: column;
		@include min-md {
			flex-direction: row;
		}
		gap: var(--hctc-spacing-lg);

		li {
			list-style-type: none;
			&.current-menu-item {
				@extend .c-nav--current-item;
			}
			a {
				font-weight: var(--hctc-header-nav-font-weight);
				text-decoration: none;
				text-transform: var(--hctc-header-nav-text-transform);
				color: var(--hctc-header-nav-mobile-color);
				font-size: var(--hctc-font-lg);
				margin-bottom: var(--hctc-spacing-lg);
				@include toggleMobileNav() {
					margin-bottom: 0;
					font-size: var(--hctc-font-md);
					color: var(--hctc-header-nav-color);
				}
			}
		}
	}
	&--mobile {
		&-btn {
			position: relative;
			z-index: var(--hctc-zindex-above-2);
			@include toggleMobileNav {
				display: none;
			}
			@include onToggleActive {
				background-color: var(--hctc-theme-color-3);
				color: var(--hctc-theme-color-1);
				border: 1px solid transparent;
			}
		}
	}

	&--footer {
		a {
			line-height: $font__line-height-xl;
		}
	}
}

.c-nav--current-item {
	@include underline;
}
