//
@mixin toggleMobileNav {
	@include min-md {
		@content;
	}
}
.c-nav {
	// mobile menu styles
	@include flexLayout(center, center, row, wrap);
	@include max-md {
		@include mobileNav;
	}
	ul {
		margin: 0;
		padding: 0;
		list-style-type: none;

		li {
			list-style-type: none;
			&.current-menu-item {
				@extend .c-nav--current-item;
			}
			a {
				font-weight: var(--hctc-header-nav-font-weight);
				text-decoration: none;
				text-transform: var(--hctc-header-nav-text-transform);
				color: var(--hctc-header-nav-mobile-color);
				font-size: var(--hctc-font-lg);
				margin-bottom: var(--hctc-spacing-lg);
				@include toggleMobileNav() {
					margin-bottom: 0;
					font-size: var(--hctc-font-md);
					color: var(--hctc-header-nav-color);
				}
			}
		}
	}
	&--mobile {
		&-btn {
			position: relative;
			z-index: 1;
			@include toggleMobileNav {
				display: none;
			}
			@include onToggleActive {
				background-color: var(--hctc-theme-color-3);
				color: var(--hctc-theme-color-1);
				border: 1px solid transparent;
			}
		}
	}

	&--footer {
		a {
			line-height: $font__line-height-xl;
		}
	}
}

.c-nav--current-item {
	@include underline;
}

// native
.main-navigation {
	display: block;
	width: 100%;

	ul {
		display: none;
		list-style: none;
		margin: 0;
		padding-left: 0;

		ul {
			box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
			float: left;
			position: absolute;
			top: 100%;
			left: -999em;
			z-index: 99999;

			ul {
				left: -999em;
				top: 0;
			}

			li {
				&:hover > ul,
				&.focus > ul {
					display: block;
					left: auto;
				}
			}

			a {
				width: 200px;
			}

			:hover > a,
			.focus > a {
			}

			a:hover,
			a.focus {
			}
		}

		li:hover > ul,
		li.focus > ul {
			left: auto;
		}
	}

	li {
		position: relative;

		&:hover > a,
		&.focus > a {
		}
	}

	a {
		display: block;
		text-decoration: none;
	}

	.current_page_item > a,
	.current-menu-item > a,
	.current_page_ancestor > a,
	.current-menu-ancestor > a {
	}
}

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
	display: block;
}

@media screen and (min-width: 37.5em) {
	.menu-toggle {
		display: none;
	}

	.main-navigation ul {
		display: flex;
	}
}

.comment-navigation,
.posts-navigation,
.post-navigation {
	.site-main & {
		margin: 0 0 1.5em;
	}

	.nav-links {
		display: flex;
	}

	.nav-previous {
		flex: 1 0 50%;
	}

	.nav-next {
		text-align: end;
		flex: 1 0 50%;
	}
}
