// button,
// input[type="button"],
// input[type="reset"],
// input[type="submit"] {
// 	border: 1px solid;
// 	border-color: $color__border-button;
// 	border-radius: 3px;
// 	background: $color__background-button;
// 	color: rgba(0, 0, 0, 0.8);
// 	line-height: 1;
// 	padding: 0.6em 1em 0.4em;

// 	&:hover {
// 		border-color: $color__border-button-hover;
// 	}

// 	&:active,
// 	&:focus {
// 		border-color: $color__border-button-focus;
// 	}
// }

// default btn styles
button,
.c-btn {
	background-color: var(--hctc-btn-default-bg-color);
	color: var(--hctc-btn-default-font-color);
	border: 1px solid var(--hctc-btn-default-border-color);
	padding: var(--hctc-spacing-md) var(--hctc-spacing-lg);
	border: unset;
	line-height: 1;
	box-shadow: var(--hctc-box-shadow-gray-light-1),
		inset var(--hctc-box-shadow-gray-light-0);
	transition: var(--hctc-transition-global);
	border-radius: var(--hctc-border-radius-md);
	cursor: pointer;
	font-size: var(--hctc-font-lg);
	font-weight: var(--hctc-btn-font-weight);
	&:hover,
	&:focus,
	&:active {
		box-shadow: var(--hctc-box-shadow-gray-light-0),
			inset var(--hctc-box-shadow-gray-light-1);
	}
}

.c-btn {
	&--primary {
		background-color: var(--hctc-btn-primary-bg-color);
		color: var(--hctc-btn-primary-font-color);
		border: 1px solid var(--hctc-btn-primary-border-color);
		@include onHover {
			background-color: var(--hctc-btn-primary-bg-color-active);
			color: var(--hctc-btn-primary-font-color-active);
			border: 1px solid var(--hctc-btn-primary-border-color-active);
		}
	}
}



// default anchor element styling
a {
	
}

.c-link {
	@include defaultLinkStyles;
	&--author {
		color: var(--hctc-footer-text-author);
		@include onHover {
			letter-spacing: var(--hctc-letter-spacing-sm);
			filter: brightness(1.1);
			color: var(--hctc-footer-text-author);
		}
	}
}
