.l_site {
  &__header {
    @include flexLayout(space-between, center, false, true);
    &-top-bar {
      @include restrict-desktop-width;
    }
    &-main {
      width: 100%;
      @include flexLayout(space-between, center, false, true);
      padding: 0 1rem;
      @include restrict-desktop-width;
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
    }
  }
}