.l-site {
  &__header {
    @include flexLayout(space-between, center, row, wrap);
    &-top-bar {
      @include restrict-desktop-width;
    }
    &-main {
      width: 100%;
      @include flexLayout(space-between, center, row, wrap);
      padding: 0 var(--hctc-spacing-lg);
      @include restrict-desktop-width;
      padding-top: var(--hctc-spacing-md);
      padding-bottom: var(--hctc-spacing-md);
    }
  }
}
